<div class="page-header">
        <h1>Municipios</h1>
</div>

<div class="row-fluid">
    <div class="span12">
        <%= link_to 'Crear nuevo', new_municipio_path, :class => "btn btn btn-success" %>
    </div>
</div>
<br />


<table class="table table-bordered table-striped">
  <tr>
    <th>nombre</th>
    <th>codigo</th>

  </tr>

<% @municipios.each do |municipio| %>
  <tr>
  <td><a href="/municipios/municipios_reporte/<%= municipios.nombre_municipio %>"><%= municipios.nombre_municipio %></a></td>
    <td><%= municipio.cod_subregion %></td>

  </tr>
<% end %>
</table>