
<h1>Listing equipment</h1>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td><%= @name %></td>
    <td><%= @Entidad%></td>
    <td><%= @permisos %></td>

  </tr>
</table>

<br />

<%= link_to 'New Equipment', new_equipment_path %>
