<div class="page-header" align="center">
        <h3>Listado de Equipos</h3>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th>Dane sede</th>
    <th>Tipo</th>
    <th>Origen</th>
    <th><div align="center"><a href="#" title="Buscar"><i class="icon-search"></i></a></div></th>
    <th><div align="center"><a href="#" title="Editar"><i class="icon-edit"></i></a></div></th>
    <th><div align="center"><a href="#" title="Eliminar"><i class="icon-remove"></i></a></div></th>
  </tr>


<% @principal_establecs.each do |usuario| %>
  <tr>
    <td><%= usuario.email %></td>
    
 </tr>
 </table>
 <%end%>

<%= link_to 'New User', new_user_path %>
