<% unless @usuarios.empty?%>
<table class="table table-bordered table-striped">
  <tr>
    <th>Dane sede</th>
    <th>Tipo</th>
    <th>Origen</th>
    <th>Fecha entrega</th>
    <th>Nombre</th>
    <th>Fabricante</th>
    <!--
    <th>Modelo</th>
    <th>Serial</th>
    <th>Procesador</th>
    <th>Memoria ram</th>
    <th>Disco duro</th>
    <th>Display</th>
    <th>Sist operativo</th>
    -->
    <th><div align="center"><a href="#" title="Buscar"><i class="icon-search"></i></a></div></th>
    <th><div align="center"><a href="#" title="Editar"><i class="icon-edit"></i></a></div></th>
    <th><div align="center"><a href="#" title="Eliminar"><i class="icon-remove"></i></a></div></th>
  </tr>

<% @usuarios.each do |equipment| %>
  <tr>
    <td><%= equipment.dane_sede %></td>
    <td><%= equipment.tipo %></td>
