	<div class="row">
		<div class="span12">
			<h3 align="center">
				SISTEMA DE INFORMACIÓN PARA LA ADMINISTRACIÓN Y CONTROL DEL EQUIPAMIENTO TECNOLÓGICO DE LOS ESTABLECIMIENTOS EDUCATIVOS OFICIALES DE LOS MUNICIPIOS NO CERTIFICADOS DEL DEPARTAMENTO DE ANTIOQUIA
			</h3>
			<p align="left">
				Este sistema de información administrará y controlará el equipamiento tecnológico de los establecimientos educativos oficiales de los municipios no certificados del Departamento de Antioquia
			</p>
			<div align="center">
		        <%= image_tag("logo.png", :width => 200)%>
		        <h1>Antioquia Digital</h1>
		    </div>
		</div>
	</div>



  