<div class="page-header">
        <h1>Municipios</h1>
</div>

<div class="row-fluid">
    <div class="span12">
        <%= link_to 'Crear nuevo', new_municipio_path, :class => "btn btn btn-success" %>
    </div>
</div>
<br />


<table class="table table-bordered table-striped">
  <tr>
    <th>nombre</th>
    <th>codigo</th>

  </tr>

<% @subregions.each do |subregion| %>
  <tr>
  <td><a href="/subregions/subregion_reportes/<%= subregion.nombre_subregion %>"><%= subregion.nombre_subregion %></a></td>
    <td><%= subregion.cod_subregion %></td>

  </tr>
<% end %>
</table>