  <div class="page-header">
        <h1>Ver Subregión</h1>
  </div>

  <div class="row">
    <div class="span6">
		<p>
		  <b>Código subregion:</b>
		  <%= @subregion.cod_subregion %>
		</p>
	</div>
   <div class="span6">
	<p>
	  <b>Nombre subregion:</b>
	  <%= @subregion.nombre_subregion %>
	</p>
   </div>
</div>

<br />

  <div class="row">
    <div class="span12" align="center">
      <%= link_to 'Editar', edit_subregion_path(@subregion), :class => "btn btn btn-success" %>
      <%= link_to 'Regresar', subregions_path, :class => "btn btn btn-success" %>
    </div>
  </div>