<div class="page-header" align="center">
        <h3>Editar Establecimiento</h3>
</div>

<%= render 'form' %>

<!--
<%= link_to 'Show', @principal_establec %> |
<%= link_to 'Back', principal_establecs_path %>
-->