<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Codigo dane</Data></Cell>
        <Cell><Data ss:Type="String">Nombre Sede</Data></Cell>
        <Cell><Data ss:Type="String">Direccion</Data></Cell>
        <Cell><Data ss:Type="String">Jornada</Data></Cell>
      </Row>
    <% @principal_establecs.each do |product| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= product.dane_establec %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.direccion %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.jornada %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>