
<h1>INFORMACION USUARIO</h1>

<table>
  <tr>
    <th>Correo</th>
  </tr>

<% @principal_establecs.each do |usuario| %>
  <tr>
    <td><%= usuario.email %></td>
  </tr>

<br />
</table>

 <%end%>


<%= link_to 'New Equipment', new_equipment_path %>
